.item{
    border: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 300px auto 40px 40px; */
    gap: 20px;

}

.item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.discription{
    display: grid;
    grid-template-rows: 40px 300px 80px;
}

.price{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    font-weight: 700;
}

.btn{
    cursor: pointer;
    padding: 5px;
}

.btn:hover {
    background-color: #47d32b;
  }